version: "3.9"

services:
  nextjs:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: life_dev
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules  # prevent overwriting container node_modules
    environment:
      - NODE_ENV=development
      - NEXT_TELEMETRY_DISABLED=1
    command: npm run dev
